[flake8]
# Use the google convention for docstrings
convention = google

# https://pypi.org/project/flake8-black/
# Recommend matching the black line length (default 88),
# rather than using the flake8 default of 79:
max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E1
    E2
    E3
    E4
    E5

    W1
    W2
    W3
    W5

    # Mypy overloads
    F811

    F401
   

# Exclude stubs files
exclude =
    *.pyi
