--find-links https://download.pytorch.org/whl/torch_stable.html
networkx==2.4
scikit-learn==0.22.2.post1
tensorboard==2.2.1
torch==1.5.0+cu101
torchvision==0.6.0+cu101
tqdm==4.45.0
transformers==2.9.1
wandb==0.8.36
# git+git://github.com/allenai/allennlp-models.git@tags/v1.0.0rc5#egg=allennlp-models_1.0.0rc5
allennlp-models==1.0.0rc5
plotly
beautifulsoup4
