--find-links https://download.pytorch.org/whl/torch_stable.html

allennlp-models==1.0.0
beautifulsoup4==4.9.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz#egg=en_core_web_sm==2.3.0
matplotlib==3.2.1
networkx==2.4
plotly==4.8.1
pydot==1.4.1
pytorch-lightning==0.8.1
transformers==2.11.0
torchvision==0.6.0+cpu
wandb==0.8.36



